In [1]:
import pandas as pd
import numpy as np
import random

from bs4 import BeautifulSoup
import requests
import re

/Users/davidhe/Documents/GitHub/ml-toolbox/venv/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [2]:
user_agents = [
    # Chrome on Mac
    "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36",
    # Chrome on Windows
    "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36",
    # Firefox on Mac
    "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:130.0) Gecko/20100101 Firefox/130.0",
    # Firefox on Windows
    "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:130.0) Gecko/20100101 Firefox/130.0",
    # Edge on Windows
    "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36 Edg/139.0.0.0",
]

headers = {
    "User-Agent": random.choice(user_agents)
}

url = "https://www.swimrankings.net/index.php?page=rankingDetail&club=CAN&season=-1&course=LCM"

page = requests.get(url, headers=headers)

In [ ]:
# used my brain and hard work to locate that the table is here
soup = BeautifulSoup(page.text[16000:63000], "html.parser")

In [4]:
content = soup.prettify()
temp = BeautifulSoup(content, "html.parser")
rows = temp.find_all("tr")

In [5]:
for row in rows[1:]:
    columns = row.find_all("td")
    data = [col.text.strip().replace('\xa0', ' ') for col in columns]
    print(data)

['Canada', 'Long Course (50m)']
['Men, Open', 'Top Times', 'Alltime']
['Last built 26 Aug 2025 - 2:39']
['Top Times\n           \n\n            Freestyle\n           \n\n            Backstroke\n           \n\n            Breaststroke\n           \n\n            Butterfly\n           \n\n            Medley\n           \n\n            Relays\n           \n\n            Statistic\n           \n\n            Custom\n           \n\n            Meets', 'Men\n           \n\n            Women', 'Long Course (50m)\n           \n\n            Short Course (25m)', 'Alltime\n           \n\n            2025\n           \n\n            2024\n           \n\n            2023\n           \n\n            2022\n           \n\n            2021\n           \n\n            2020\n           \n\n            2019\n           \n\n            2018\n           \n\n            2017\n           \n\n            2016\n           \n\n            2015\n           \n\n            2014\n           \n\n            2013\n           \n\n            2012\n           \n\n            2011\n           \n\n            2010\n           \n\n            2009\n           \n\n            2008', 'Open\n           \n\n            10 years and younger\n           \n\n            11 years\n           \n\n            11 - 12 years\n           \n\n            12 years\n           \n\n            13 years\n           \n\n            13 - 14 years\n           \n\n            14 years\n           \n\n            15 years\n           \n\n            15 - 16 years\n           \n\n            16 years\n           \n\n            17 years\n           \n\n            15 - 17 years\n           \n\n            18 years\n           \n\n            17 - 18 years\n           \n\n            95 - 99 years\n           \n\n            90 - 94 years\n           \n\n            85 - 89 years\n           \n\n            80 - 84 years\n           \n\n            75 - 79 years\n           \n\n            70 - 74 years\n           \n\n            65 - 69 years\n           \n\n            60 - 64 years\n           \n\n            55 - 59 years\n           \n\n            50 - 54 years\n           \n\n            45 - 49 years\n           \n\n            40 - 44 years\n           \n\n            35 - 39 years\n           \n\n            30 - 34 years\n           \n\n            25 - 29 years\n           \n\n            18 - 24 years']
['', '', '', '', '', '', '', '', '']
[]
['50m Freestyle', 'LIENDO, Joshua', '2002', 'CAN', 'North York Aquatic Club', '21.48', '922', '18 May 2024', 'Toronto (ON)']
['100m Freestyle', 'HAYDEN, Brent', '1983', 'CAN', 'UBC Dolphins Swim Club', '47.27', '974', '30 Jul 2009', 'Rome (ITA)']
['200m Freestyle', 'SAUVE, Antoine', '2005', 'CAN', 'Club Aquatique Montreal', '1:46.39', '881', '12 Jun 2025', 'Victoria (BC)']
['400m Freestyle', 'COCHRANE, Ryan', '1988', 'CAN', 'Island Swimming Club', '3:43.46', '955', '24 Jul 2014', 'Glasgow (GBR)']
['800m Freestyle', 'COCHRANE, Ryan', '1988', 'CAN', 'Victoria Amateur Swim Club', '7:41.86', '938', '27 Jul 2011', 'Shanghai (CHN)']
['1500m Freestyle', 'COCHRANE, Ryan', '1988', 'CAN', 'Victoria Amateur Swim Club', '14:39.63', '970', '4 Aug 2012', 'London (GBR)']
['50m Backstroke', 'ACEVEDO, Javier', '1998', 'CAN', 'Ajax Aquatic Club', '24.90', '846', '29 Mar 2023', 'Toronto (ON)']
['100m Backstroke', 'TIERNEY, Blake', '2002', 'CAN', 'University Of British Columbia', '52.95', '925', '3 Aug 2025', 'Singapore (SGP)']
['200m Backstroke', 'TIERNEY, Blake', '2002', 'CAN', 'University Of British Columbia', '1:55.03', '921', '31 Jul 2025', 'Singapore (SGP)']
['50m Breaststroke', 'DICKENS, Scott', '1984', 'CAN', 'UBC Dolphins Swim Club', '27.45', '844', '28 Jul 2009', 'Rome (ITA)']
['100m Breaststroke', 'DICKENS, Scott', '1984', 'CAN', 'Pacific Dolphins Swim Club', '59.85', '858', '28 Jul 2012', 'London (GBR)']
['200m Breaststroke', 'BROWN, Mike', '1984', 'CAN', 'University Of Calgary Swim Club', '2:08.84', '923', '13 Aug 2008', 'Beijing (CHN)']
['50m Butterfly', 'KHARUN, Ilya', '2005', 'CAN', 'Unattached Canada', '22.68', '946', '12 Jun 2025', 'Victoria (BC)']
['100m Butterfly', 'LIENDO, Joshua', '2002', 'CAN', 'North York Aquatic Club', '49.99', '967', '3 Aug 2024', 'Paris (FRA)']
['200m Butterfly', 'KHARUN, Ilya', '2005', 'CAN', 'Unattached Canada', '1:52.80', '935', '31 Jul 2024', 'Paris (FRA)']
['200m Medley', 'KNOX, Finlay', '2001', 'CAN', 'Scarborough Swim Club', '1:56.07', '947', '18 May 2024', 'Toronto (ON)']
['400m Medley', 'JOHNS, Brian', '1982', 'CAN', 'UBC Dolphins Swim Club', '4:11.41', '897', '9 Aug 2008', 'Beijing (CHN)']
['50m Freestyle Lap', 'ROSE, Matthew', '1981', 'CAN', 'Ontario', '22.00', '-', '30 Jun 2003', 'Saanich (BC)']
['100m Freestyle Lap', 'HAYDEN, Brent', '1983', 'CAN', 'UBC Dolphins Swim Club', '46.84', '-', '15 Aug 2008', 'Beijing (CHN)']
['200m Freestyle Lap', 'HAYDEN, Brent', '1983', 'CAN', 'UBC Dolphins Swim Club', '1:44.42', '-', '13 Aug 2008', 'Beijing (CHN)']
['50m Breaststroke Lap', 'KNABE, Morgan', '1981', 'CAN', 'University Of Calgary Swim Club', '27.42', '-', '30 Jun 2003', 'Saanich (BC)']
['100m Breaststroke Lap', 'BOIS, Mathieu', '1988', 'CAN', 'C.N. PP Olympique', '58.86', '-', '2 Aug 2009', 'Rome (ITA)']
['50m Butterfly Lap', 'KHARUN, Ilya', '2005', 'CAN', 'Unattached Canada', '22.98', '-', '22 Sep 2023', 'Tempe (USA)']
['100m Butterfly Lap', 'KHARUN, Ilya', '2005', 'CAN', 'Unattached Canada', '49.83', '-', '3 Aug 2025', 'Singapore (SGP)']
[]
['4 x 50m Freestyle', 'Poznikoff A.\n          \n          ,\n          \n           Hibberd D.\n          \n          ,\n          \n           Hibberd S.\n          \n          ,\n          \n           Berg B.', 'CAN', 'Simon Fraser Aquatics', '1:30.65', '821', '17 Jul 2014', 'Los Angeles (USA)']
['4 x 100m Freestyle', 'Hayden B.\n          \n          ,\n          \n           Johns B.\n          \n          ,\n          \n           Dickens S.\n          \n          ,\n          \n           Biskupski R.', 'CAN', 'UBC Dolphins Swim Club', '3:19.65', '838', '18 Jul 2008', 'Winnipeg (MB)']
['4 x 200m Freestyle', 'Johns B.\n          \n          ,\n          \n           Mintenko M.\n          \n          ,\n          \n           Hayden B.\n          \n          ,\n          \n           Johnston M.', 'CAN', 'UBC Dolphins Swim Club', '7:19.46', '863', '1 Apr 2003', 'Indianapolis (USA)']
['4 x 50m Medley', 'Herman A.\n          \n          ,\n          \n           Migneault J.\n          \n          ,\n          \n           Duncan N.\n          \n          ,\n          \n           Stewart-Beinder L.', 'CAN', 'Canadian', '1:39.85', '814', '4 Jul 2025', 'Loughborough (GBR)']
['4 x 100m Medley', 'Hawes M.\n          \n          ,\n          \n           Dickens S.\n          \n          ,\n          \n           Johns B.\n          \n          ,\n          \n           Hayden B.', 'CAN', 'UBC Dolphins Swim Club', '3:40.84', '820', '24 May 2009', 'Vancouver (BC)']
[]
['4 x 50m Freestyle', 'Kim L.\n          \n          ,\n          \n           Norman A.\n          \n          ,\n          \n           Graboski K.\n          \n          ,\n          \n           Greber J.', 'CAN', 'University Of Calgary Swim Club', '1:37.07', '669', '6 Jul 2024', 'Edmonton (AB)']
['4 x 100m Freestyle', 'Kim L.\n          \n          ,\n          \n           Norman A.\n          \n          ,\n          \n           Cannings K.\n          \n          ,\n          \n           Clark M.', 'CAN', 'University Of Calgary Swim Club', '3:31.27', '707', '26 Jul 2024', 'Toronto (ON)']
['4 x 50m Medley', 'Bustamante K.\n          \n          ,\n          \n           Jean-Lachapelle M.\n          \n          ,\n          \n           Savard K.\n          \n          ,\n          \n           Jarry M.', 'CAN', 'Club Aquatique Montreal', '1:49.21', '622', '27 Apr 2014', 'Montreal (QC)']
['4 x 100m Medley', 'Norman A.\n          \n          ,\n          \n           Lepage A.\n          \n          ,\n          \n           Cannings K.\n          \n          ,\n          \n           Kim L.', 'CAN', 'University Of Calgary Swim Club', '3:49.47', '731', '24 Jul 2024', 'Toronto (ON)']

In [6]:
data = []

# Extract data from rows and append to the data list
for row in rows[1:]:
    columns = row.find_all("td")
    if len(columns) == 9:  # Ensure the row has the correct number of columns
        data.append([col.text.strip().replace('\xa0', ' ') for col in columns])
    
    elif len(columns) == 8:
        # the relays don't have Date of Birth. Just fill it with "N/A"
        # Clean up the names by removing unwanted '\n' and extra spaces
        columns[1].string = re.sub(r'\s+', ' ', columns[1].text.strip())
        row_data = [col.text.strip().replace('\xa0', ' ') for col in columns]
        row_data.insert(2, "N/A")  # Insert "N/A" at
        data.append(row_data)

# Create the DataFrame
df = pd.DataFrame(data, columns=["Event", "Name(s)", "Year of Birth", "Country", "Club", "Time", "Points", "Date", "City (Nation)"])

print(df)

                    Event                                            Name(s)  \
0
1           50m Freestyle                                     LIENDO, Joshua
2          100m Freestyle                                      HAYDEN, Brent
3          200m Freestyle                                     SAUVE, Antoine
4          400m Freestyle                                     COCHRANE, Ryan
5          800m Freestyle                                     COCHRANE, Ryan
6         1500m Freestyle                                     COCHRANE, Ryan
7          50m Backstroke                                    ACEVEDO, Javier
8         100m Backstroke                                     TIERNEY, Blake
9         200m Backstroke                                     TIERNEY, Blake
10       50m Breaststroke                                     DICKENS, Scott
11      100m Breaststroke                                     DICKENS, Scott
12      200m Breaststroke                                        BROWN, Mike
13          50m Butterfly                                       KHARUN, Ilya
14         100m Butterfly                                     LIENDO, Joshua
15         200m Butterfly                                       KHARUN, Ilya
16            200m Medley                                       KNOX, Finlay
17            400m Medley                                       JOHNS, Brian
18      50m Freestyle Lap                                      ROSE, Matthew
19     100m Freestyle Lap                                      HAYDEN, Brent
20     200m Freestyle Lap                                      HAYDEN, Brent
21   50m Breaststroke Lap                                      KNABE, Morgan
22  100m Breaststroke Lap                                      BOIS, Mathieu
23      50m Butterfly Lap                                       KHARUN, Ilya
24     100m Butterfly Lap                                       KHARUN, Ilya
25      4 x 50m Freestyle   Poznikoff A. , Hibberd D. , Hibberd S. , Berg B.
26     4 x 100m Freestyle   Hayden B. , Johns B. , Dickens S. , Biskupski R.
27     4 x 200m Freestyle   Johns B. , Mintenko M. , Hayden B. , Johnston M.
28         4 x 50m Medley  Herman A. , Migneault J. , Duncan N. , Stewart...
29        4 x 100m Medley       Hawes M. , Dickens S. , Johns B. , Hayden B.
30      4 x 50m Freestyle       Kim L. , Norman A. , Graboski K. , Greber J.
31     4 x 100m Freestyle        Kim L. , Norman A. , Cannings K. , Clark M.
32         4 x 50m Medley  Bustamante K. , Jean-Lachapelle M. , Savard K....
33        4 x 100m Medley       Norman A. , Lepage A. , Cannings K. , Kim L.

   Year of Birth Country                             Club      Time Points  \
0
1           2002     CAN          North York Aquatic Club     21.48    922
2           1983     CAN           UBC Dolphins Swim Club     47.27    974
3           2005     CAN          Club Aquatique Montreal   1:46.39    881
4           1988     CAN             Island Swimming Club   3:43.46    955
5           1988     CAN       Victoria Amateur Swim Club   7:41.86    938
6           1988     CAN       Victoria Amateur Swim Club  14:39.63    970
7           1998     CAN                Ajax Aquatic Club     24.90    846
8           2002     CAN   University Of British Columbia     52.95    925
9           2002     CAN   University Of British Columbia   1:55.03    921
10          1984     CAN           UBC Dolphins Swim Club     27.45    844
11          1984     CAN       Pacific Dolphins Swim Club     59.85    858
12          1984     CAN  University Of Calgary Swim Club   2:08.84    923
13          2005     CAN                Unattached Canada     22.68    946
14          2002     CAN          North York Aquatic Club     49.99    967
15          2005     CAN                Unattached Canada   1:52.80    935
16          2001     CAN            Scarborough Swim Club   1:56.07    947
17          1982     CAN           UBC Dolphins Swim Club   4:11.41    897
18          1981     CAN                          Ontario     22.00      -
19          1983     CAN           UBC Dolphins Swim Club     46.84      -
20          1983     CAN           UBC Dolphins Swim Club   1:44.42      -
21          1981     CAN  University Of Calgary Swim Club     27.42      -
22          1988     CAN                C.N. PP Olympique     58.86      -
23          2005     CAN                Unattached Canada     22.98      -
24          2005     CAN                Unattached Canada     49.83      -
25           N/A     CAN            Simon Fraser Aquatics   1:30.65    821
26           N/A     CAN           UBC Dolphins Swim Club   3:19.65    838
27           N/A     CAN           UBC Dolphins Swim Club   7:19.46    863
28           N/A     CAN                         Canadian   1:39.85    814
29           N/A     CAN           UBC Dolphins Swim Club   3:40.84    820
30           N/A     CAN  University Of Calgary Swim Club   1:37.07    669
31           N/A     CAN  University Of Calgary Swim Club   3:31.27    707
32           N/A     CAN          Club Aquatique Montreal   1:49.21    622
33           N/A     CAN  University Of Calgary Swim Club   3:49.47    731

           Date       City (Nation)
0
1   18 May 2024        Toronto (ON)
2   30 Jul 2009          Rome (ITA)
3   12 Jun 2025       Victoria (BC)
4   24 Jul 2014       Glasgow (GBR)
5   27 Jul 2011      Shanghai (CHN)
6    4 Aug 2012        London (GBR)
7   29 Mar 2023        Toronto (ON)
8    3 Aug 2025     Singapore (SGP)
9   31 Jul 2025     Singapore (SGP)
10  28 Jul 2009          Rome (ITA)
11  28 Jul 2012        London (GBR)
12  13 Aug 2008       Beijing (CHN)
13  12 Jun 2025       Victoria (BC)
14   3 Aug 2024         Paris (FRA)
15  31 Jul 2024         Paris (FRA)
16  18 May 2024        Toronto (ON)
17   9 Aug 2008       Beijing (CHN)
18  30 Jun 2003        Saanich (BC)
19  15 Aug 2008       Beijing (CHN)
20  13 Aug 2008       Beijing (CHN)
21  30 Jun 2003        Saanich (BC)
22   2 Aug 2009          Rome (ITA)
23  22 Sep 2023         Tempe (USA)
24   3 Aug 2025     Singapore (SGP)
25  17 Jul 2014   Los Angeles (USA)
26  18 Jul 2008       Winnipeg (MB)
27   1 Apr 2003  Indianapolis (USA)
28   4 Jul 2025  Loughborough (GBR)
29  24 May 2009      Vancouver (BC)
30   6 Jul 2024       Edmonton (AB)
31  26 Jul 2024        Toronto (ON)
32  27 Apr 2014       Montreal (QC)
33  24 Jul 2024        Toronto (ON)

In [7]:
df.to_csv("swim_rankings.csv", index=False)